
<!-- <ng-sidebar-container>
    <ng-sidebar [(opened)]="_opened" position='left' mode='push' [closeOnClickOutside]="_closeOnClickOutside" [closeOnClickBackdrop]="_closeOnClickBackdrop" [animate]="_animate" [dock]="_dock" [dockedSize]="'43px'">
<app-menu (click)="cambio()" ></app-menu>
</ng-sidebar>
<div ng-sidebar-content>
    <app-navbar (Cambiomenu)="cambiomenu($event)"></app-navbar>
    <router-outlet></router-outlet>
</div>
</ng-sidebar-container> -->
<app-navbar (Cambiomenu)="cambiomenu($event)"></app-navbar>
<div class="row">
    <div class="col-3">

        <app-menu (click)="cambio()" ></app-menu>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>

    </div>
</div>