<mdb-accordion [multiple]="true" aria-multiselectable="true">
    <mdb-accordion-item  [collapsed]="true">
        <mdb-accordion-item-head> ADMINISTRACIÓN </mdb-accordion-item-head>
        <mdb-accordion-item-body> BOTON 1 </mdb-accordion-item-body>
    </mdb-accordion-item>
    <mdb-accordion-item  [collapsed]="true">
        <mdb-accordion-item-head> MANTENIMIENTO </mdb-accordion-item-head>



        <mdb-accordion-item-body> 
        <button type="button" mdbBtn color="primary" mdbWavesEffect>UNIDAD ORGANIVA</button>    
        <button type="button" mdbBtn color="primary" mdbWavesEffect>CARGOS</button>    
        <button type="button" mdbBtn color="primary" mdbWavesEffect routerLink="/Muni/Mantenimiento/Perfiles">PERFILES</button>    
        <button type="button" mdbBtn color="primary" mdbWavesEffect routerLink="/Muni/Mantenimiento/Usuarios">USUARIOS</button>    
        
        </mdb-accordion-item-body>
       
    </mdb-accordion-item>
  </mdb-accordion>