$desktop: 1140px;
@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.contenedor-menu {
    ul {
        list-style: none;
        a {
            text-decoration: none;
            cursor: pointer;
        }
        
        a.font-weight-bold {
            margin: 0;
            color: rgb(204, 23, 114);
            font-weight: 400;
            width: 200px;
            display: block;
            text-decoration: none;
            font-size: 10px;            
        }
        a.font-weight-bold:hover {
            color:blue;
            font-weight: 600;
        }
        a.sub-menu {
            padding-left: 20px;
            color: crimson;
            font-weight: 400;
        }
        
        a.sub-menu:hover {
            padding-left: 20px;
            color: blue;
            font-weight: 600;
        }
        .card .btn {
            padding: 15px 15px;
            width: 100%;
            text-align: left;
            text-decoration: none;
        }
        .derecha {
            float: right;
            color: rgb(204, 23, 114);
            font-size: 18px;
        }
        
    }
}







