.loginBox
{  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 470px;
    padding: 60px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
}
.user
{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    border: solid white;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
    background: rgba(0,0,0,.5);
}

.loginBox form div label 
{   
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}
.loginBox input
{
    width: 100%;
    margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
::placeholder
{
    color: rgba(255,255,255,.5);
}
i {
    color: white;
}

div.fondo {
    z-index: 0;
    margin: -160 0 0 -140px
}
div.row {
    z-index: 2;    
}
button {
    margin-left: 20%;
}
   
    div.form-check input[type=checkbox] {
        width: 10px;
        height: 10px;        
    
}